*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: rgba(0, 0, 0, 0);
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fafafa;
  position: relative;
  font-size: 1.6rem;
  font-family: 'Overpass', sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 40px;
  width: 100%;
  padding: 0 25px 0 20px;
}

.nav .wrapper .nav-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav .wrapper .nav-items__desktop-menu-item {
  display: none;
}

.nav .wrapper .nav-items__desktop-menu-logo {
  -webkit-transform: scale(85%);
          transform: scale(85%);
  padding: 10px 0 10px 0;
}

.nav .wrapper .nav-items__sign-up {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 75px;
  -webkit-transform: translateX(15px);
          transform: translateX(15px);
  background: none;
  cursor: pointer;
  z-index: 100;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-btn__close-icon {
  display: none;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-btn .blockActive {
  display: block;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-btn .disabled {
  display: none;
  opacity: 0%;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-window {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 80px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  padding: 20px;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 0 0 25px 10px rgba(114, 114, 114, 0.3);
          box-shadow: 0 0 25px 10px rgba(114, 114, 114, 0.3);
  border-radius: 5px;
  z-index: 200;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-window-item {
  position: relative;
  padding-top: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-window-item .burger-arrow {
  padding-left: 3px;
  padding-bottom: 1px;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-window-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
  padding: 20px 0;
  background-color: #efeff1;
  width: 100%;
  border-radius: 7px;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-window-list-item {
  font-size: 1.8rem;
  padding: 7px 0;
  text-decoration: none;
  color: #78798d;
  font-weight: bold;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-window-list-item:hover {
  text-decoration: underline;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-window .hr {
  margin-top: 20px;
  border-bottom: 2px solid #e3e3e3;
  width: 100%;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-window-login {
  padding: 25px 0 15px;
  position: relative;
  font-weight: bold;
  font-size: 1.7rem;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-window-sign-up-btn {
  position: relative;
  margin-bottom: 15px;
  cursor: pointer;
  height: 50px;
  width: 140px;
  border-radius: 25px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: white;
  background-image: linear-gradient(150deg, #ff8f70 0%, #ff3d54 100%);
  -webkit-transition: background-image 0.3s;
  transition: background-image 0.3s;
}

.nav .wrapper .nav-items .nav-items__burger-menu__burger-window-sign-up-btn:hover {
  background-image: none;
  background-color: #ff7a85;
}

.nav .wrapper .nav-items .nav-items__burger-menu .flexActive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: showBurger 2s ease-in forwards;
          animation: showBurger 2s ease-in forwards;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 600px;
  width: 100%;
  border-bottom-left-radius: 90px;
  overflow: hidden;
}

.header__bg-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-pattern-intro-mobile.svg");
  background-position: -330px -245px;
  background-repeat: no-repeat;
  z-index: -1;
}

.header__bg-color {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(150deg, #ff8f70 0%, #ff3d54 100%);
  z-index: -2;
}

.header .wrapper .header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 20px 0px;
  width: 100%;
  text-align: center;
}

.header .wrapper .header-items__title {
  padding: 160px 0px 20px;
  color: white;
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
  font-size: 3.6rem;
}

.header .wrapper .header-items__p {
  color: white;
  font-size: 1.7rem;
}

.header .wrapper .header-items__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 375px;
  z-index: 20;
}

.header .wrapper .header-items__bottom-btn {
  margin: 10px;
  border-radius: 25px;
  height: 50px;
  width: 140px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.header .wrapper .header-items__bottom-btn--cta {
  background-color: white;
  color: #ff525d;
}

.header .wrapper .header-items__bottom-btn--cta:hover {
  background-color: #ff7a85;
  color: white;
}

.header .wrapper .header-items__bottom-btn--lm {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
}

.header .wrapper .header-items__bottom-btn--lm:hover {
  background-color: white;
  color: #ff525d;
}

.white-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

.white-section .wrapper .white-section-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.white-section .wrapper .white-section-items--second {
  padding: 40px 0px;
}

.white-section .wrapper .white-section-items__img {
  padding-bottom: 50px;
}

.white-section .wrapper .white-section-items__img .desktop-img {
  display: none;
}

.white-section .wrapper .white-section-items__text-section-title {
  font-size: 2.3rem;
  padding-bottom: 40px;
}

.white-section .wrapper .white-section-items__text-subtitle {
  font-size: 2.3rem;
  padding-bottom: 20px;
}

.white-section .wrapper .white-section-items__text-p {
  font-size: 1.6rem;
  padding-bottom: 40px;
  line-height: 2.3rem;
  color: #7a7a7a;
}

.dark-section {
  position: relative;
  margin: 200px 0 0;
  padding: 0 25px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dark-section__bg-img {
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 600px 600px;
  background-position: center -250px;
  z-index: -1;
  background-image: url("../images/bg-pattern-circles.svg");
}

.dark-section__bg-color {
  border-top-right-radius: 90px;
  border-bottom-left-radius: 90px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(150deg, #2c2d3f 0%, #3f4164 100%);
  z-index: -2;
}

.dark-section .wrapper .dark-section-items__smartphones-img {
  position: absolute;
  top: -280px;
  -webkit-transform: scale(70%) translateX(-50%);
          transform: scale(70%) translateX(-50%);
}

.dark-section .wrapper .dark-section-items__section-title {
  padding-top: 205px;
  font-size: 4rem;
  color: white;
}

.dark-section .wrapper .dark-section-items__p {
  margin-bottom: 100px;
  padding-top: 25px;
  color: white;
  font-size: 1.8rem;
  line-height: 3rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #25252d;
  border-top-right-radius: 90px;
  color: #c8c8cb;
}

.footer .wrapper .footer-item__logo {
  padding: 60px 0;
}

.footer .wrapper .footer-item__columns {
  margin-bottom: 60px;
}

.footer .wrapper .footer-item__columns__column {
  margin-bottom: 50px;
}

.footer .wrapper .footer-item__columns__column h3 {
  color: white;
  margin: 0 0 20px 0;
}

.footer .wrapper .footer-item__columns__column-item {
  position: relative;
  display: block;
  margin: 5px 0;
  color: #d6d6de;
  text-decoration: none;
  line-height: 2.3rem;
}

.footer .wrapper .footer-item__columns__column-item:hover {
  text-decoration: underline;
}

.attribution {
  padding: 20px 0;
  background-color: #1a1a1a;
  font-size: 11px;
  text-align: center;
  color: white;
}

.attribution a {
  color: white;
  margin-right: 30px;
}

@media (max-width: 310px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    height: 600px;
    width: 100%;
    border-bottom-left-radius: 90px;
    overflow: hidden;
  }
  .header__bg-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-pattern-intro-mobile.svg");
    background-position: -330px -245px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  .header__bg-color {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(150deg, #ff8f70 0%, #ff3d54 100%);
    z-index: -2;
  }
  .header .wrapper .header-items__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 375px;
    z-index: 20;
  }
}

@media (min-width: 576px) {
  .footer .wrapper .footer-item__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer .wrapper .footer-item__columns__column {
    margin: 0 60px;
  }
}

@media (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 40px;
    width: 100%;
    padding: 0 25px 0 20px;
  }
  .nav .wrapper .nav-items {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .nav .wrapper .nav-items__desktop-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .wrapper .nav-items__desktop-menu-item {
    display: block;
    padding: 0 15px;
    background: none;
    font-weight: bold;
    color: white;
  }
  .nav .wrapper .nav-items__desktop-menu-item img {
    margin-left: 5px;
  }
  .nav .wrapper .nav-items__desktop-menu-logo {
    -webkit-transform: scale(1);
            transform: scale(1);
    margin-left: 8px;
    margin-right: 50px;
    padding: 10px 0 10px 0;
  }
  .nav .wrapper .nav-items__sign-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav .wrapper .nav-items__sign-up-btn {
    background-color: white;
    color: #ff525d;
    height: 50px;
    width: 140px;
    border-radius: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    z-index: 100;
  }
  .nav .wrapper .nav-items__sign-up-btn:hover {
    background-color: #ff7a85;
    color: white;
  }
  .nav .wrapper .nav-items__sign-up-login {
    color: white;
    font-weight: bold;
    margin-right: 30px;
  }
  .nav .wrapper .nav-items .nav-items__burger-menu {
    position: absolute;
    display: none;
  }
  .header__bg-img {
    background-image: url("../images/bg-pattern-intro-desktop.svg");
    background-position: -480px -1350px;
  }
  .header__bg-color {
    background-image: -webkit-gradient(linear, left top, right top, from(#ff8f70), color-stop(90%, #ff3d54));
    background-image: linear-gradient(90deg, #ff8f70 0%, #ff3d54 90%);
  }
  .header .wrapper .header-items__title {
    padding: 200px 0px 20px;
    font-size: 5rem;
  }
  .header .wrapper .header-items__title p {
    display: inline;
  }
  .header .wrapper .header-items__p {
    display: inline;
  }
  .header .wrapper .header-items__bottom {
    padding: 40px 20px 0;
    width: 100%;
  }
  .header .wrapper .header-items__bottom-btn {
    margin: 10px 20px 10px;
    border-radius: 25px;
    height: 50px;
    width: 140px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  .header .wrapper .header-items__bottom-btn--cta {
    background-color: white;
    color: #ff525d;
  }
  .header .wrapper .header-items__bottom-btn--cta:hover {
    background-color: #ff7a85;
    color: white;
  }
  .header .wrapper .header-items__bottom-btn--lm {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
  }
  .header .wrapper .header-items__bottom-btn--lm:hover {
    background-color: white;
    color: #ff525d;
  }
}

@media (min-width: 1200px) {
  .dark-section {
    height: 450px;
    position: relative;
  }
  .dark-section__smartphones-img {
    position: absolute;
    top: 55%;
    left: 200px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .dark-section__smartphones-img img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .dark-section__bg-img {
    background-size: 1000px 1000px;
    background-position: -250px -450px;
    z-index: -1;
    background-image: url("../images/bg-pattern-circles.svg");
  }
  .dark-section .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px minmax(560px, 1fr) 100px 1fr minmax(30px, 100px);
        grid-template-columns: 100px minmax(560px, 1fr) 100px 1fr minmax(30px, 100px);
  }
  .dark-section .wrapper .dark-section-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    grid-column: -3/4;
  }
  .dark-section .wrapper .dark-section-items__section-title {
    padding-top: 0;
  }
  .dark-section .wrapper .dark-section-items__p {
    margin-bottom: 0;
  }
  .white-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 25px;
  }
  .white-section .wrapper .white-section-items {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100px 1fr 100px 1fr 100px;
        grid-template-columns: 100px 1fr 100px 1fr 100px;
    -ms-grid-rows: 200px 2fr;
        grid-template-rows: 200px 2fr;
    padding-top: 80px;
  }
  .white-section .wrapper .white-section-items--second {
    height: 850px;
    padding: 40px;
  }
  .white-section .wrapper .white-section-items__img {
    position: absolute;
    top: 24px;
    right: -300px;
    -webkit-transform: scale(92%);
            transform: scale(92%);
    padding-bottom: 50px;
    z-index: -1;
  }
  .white-section .wrapper .white-section-items__img--second {
    right: none;
    left: -350px;
  }
  .white-section .wrapper .white-section-items__img .desktop-img {
    display: block;
  }
  .white-section .wrapper .white-section-items__img .mobile-img {
    display: none;
  }
  .white-section .wrapper .white-section-items__section-title {
    font-size: 3.5rem;
    padding-bottom: 40px;
    grid-column: 1/-1;
  }
  .white-section .wrapper .white-section-items__text {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    text-align: left;
  }
  .white-section .wrapper .white-section-items__text--second {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-bottom: 180px;
  }
  .white-section .wrapper .white-section-items__text-subtitle {
    font-size: 2.7rem;
  }
  .white-section .wrapper .white-section-items__text-subtitle p {
    display: inline;
  }
  .white-section .wrapper .white-section-items__text-p {
    font-size: 1.8rem;
  }
  .footer {
    padding-top: 70px;
  }
  .footer .wrapper .footer-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer .wrapper .footer-item__logo {
    margin-left: 170px;
    margin-right: 100px;
    padding: 0;
  }
  .footer .wrapper .footer-item__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 50vw;
    margin-right: 400px;
  }
  .footer .wrapper .footer-item__columns__column {
    margin: 0 15%;
  }
}
/*# sourceMappingURL=style.css.map */