$white-text: hsl(0, 0%, 100%);
$darker-text: hsl(0, 0%, 48%);
$cta: hsl(356, 100%, 66%);
$headings: #3a3d5c;
$greyish-blue: #efeff1;
$header-gradient: linear-gradient(150deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 100%);
$header-gradient-desktop: linear-gradient(90deg, hsl(13, 100%, 72%) 0%, hsl(353, 100%, 62%) 90%);
$body-gradient: linear-gradient(150deg, hsl(237, 17%, 21%) 0%, hsl(237, 23%, 32%) 100%);

